html, body
    font-family "PingFang SC", "微软雅黑", "Microsoft Yahei", Helvetica, 'Helvetica Neue', Tahoma,Arial,sans-serif
    -webkit-font-smoothing antialiased

html, body, #table-page, #center-page
    min-height 100%
    min-width 100%
    height 100%

.application {
    font-family: inherit!important;
}

//overwrite materialize
nav .brand-logo
    padding 0 15px
 ound: rgba(0, 0, 0, .3)

.f27
    font-size 27px

.margin
    margin 0!important

.sideCard
    padding 20px
    color #FFF
    background-color rgba(0,0,0,.8)
    width 550px
    margin auto

.transCard
    padding 20px
    color #FFF
    background-color rgba(0,0,0,.8)
    width 350px
    margin auto
    border-radius 5px

.socialCard
    padding 10px
    color #FFF
    background-color rgba(0,0,0,.8)
    width 350px
    margin auto
    margin-bottom 10px
    border-radius 5px

.hoverHand
  cursor pointer

#table-page
  display table
  margin auto

#center-page
  display table-cell
  vertical-align middle
  background-position center
  background-image url(https://i.imgur.com/lt58IlN.jpg)
  background-size cover

#table-page::before
    content: ''
    display: block
    position: absolute
    background-color: #000
    opacity: 0.3
    width: 100%
    height: 100%

.student
  background-color #5e9861

.student:hover, .student.active
  background-color: #4CAF50


.company
  background-color: #9a4d67

.company:hover, .company.active {
  background-color: #e91e63;
}

.disable
  background-color: #DFDFDF!important
  -webkit-box-shadow: none
  box-shadow: none
  color: #9F9F9F!important

.page-enter-active, .page-leave-active {
  transition: all .4s;
}

.page-enter {
  opacity: 0;
  transform: translateX(-10%);
}

.page-leave-to {
  opacity: 0;
  transform: translateX(10%);
}

.page-enter-active, .page-leave-active {
  transition: all .4s;
}

.page-enter {
  opacity: 0;
  transform: translateX(-10%);
}

